body {
    background: lightcoral;
    color: #0E0E0E;
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
}

#title {
    color: #0E0E0E;
    font-size: 3em;
    padding-bottom: 25px;
    text-align: left;
}

#output {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.dg.a {
    float: left !important;
}